.about-us-container {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    margin-top: 2rem;
}

.about-us-heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.about-us-description {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-us-content {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}