:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  width: 100%;
}